/*
 * COLOR PALETTE: Van den Hof (courtesy of RedDragon
 * http://www.colourlovers.com/palette/18/van_den_Hof
 *
 * red: #EE3D40, white, black, blue: #AABAC5
 */


body {
background: #EEE;
background: url('../img/noise.png');
padding-top: 0;
font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}

.active {
}

h1 {
	font-size: 38px;
	font-weight: 300;
}

h2 {
	font-weight: 300;
	font-size: 22px;
}

h3 {
	font-size: 18px;
	font-weight: normal;
}

h5 {
	font-weight: bold;
}

h1,h3, h5 {
/*	color:#285A9E;*/	
	text-shadow: 0 1px 0 #FFFFFF;
	margin: 5px 0 0;
}

p, h5 {
	font-size: 13px;
	line-height: 22.5px;
}

strong{ 

}

pre {

}

hr {
	border-top: 1px solid #DDD;
}

th {
	text-align: left;
}

.table {
	margin: 0;
}


table h3 {
	margin: 0;
}

footer {
    background-color: #F7F7F7;
    border: 1px solid #E6E6E6;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    font-size: 12px;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
	display: block;
}

/*------------------------------------------------Bootstrap overwrites----------------------------------------*/

.btn {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn {
   padding: 10px 20px;
}

.btn-primary{
	border-top: 1px solid #3174ce;
	border-bottom: 1px solid #123358;
	 background-color: #007cd6;
	 *background-color: #0067b2;
	 background-image: -ms-linear-gradient(top, #007cd6, #0067b2);
	 background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3174ce), to(#0067b2));
	 background-image: -webkit-linear-gradient(top, #007cd6, #0067b2);
	 background-image: -o-linear-gradient(top, #007cd6, #0067b2);
	 background-image: -moz-linear-gradient(top, #007cd6, #0067b2);
	 background-image: linear-gradient(top, #007cd6, #0067b2);
	 background-repeat: repeat-x;
	 border-color: #007cd6 #007cd6 #0067b2;
	 border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	 filter: progid:dximagetransform.microsoft.gradient(startColorstr='#007cd6', endColorstr='#0067b2', GradientType=0);
	 filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	background-color: #0067b2;
	*background-color: #007cd6;
}

.btn-success {
	border-top: 1px solid #85bd12;
	border-bottom: 1px solid #398608;
	background-color: #85bd12;
	background-color: #398608;
		background-image: -moz-linear-gradient(top, #85bd12 0%, #398608 100%); 
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#85bd12), color-stop(100%,#398608));
		background-image: -webkit-linear-gradient(top, #85bd12 0%,#398608 100%); 
		background-image: -o-linear-gradient(top, #85bd12 0%,#398608 100%); 
		background-image: -ms-linear-gradient(top, #85bd12 0%,#398608 100%); 
		background-image: linear-gradient(top, #85bd12 0%,#398608 100%);
		background-repeat: repeat-x;
	color: white;
	text-shadow: 0px -1px 0 #2b6407;
	filter: dropshadow(color=#000, offx=0, offy=-1);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #398608;
  *background-color: #85bd12;
}

blockquote {
    border-left: 5px solid #FFF;
}

blockquote small {
	margin-top: 10px;
}

.thumbnail {
	border-radius: 0;
	background: #FFF;
	margin: 0 0 10px;
	cursor: pointer;
}

.hero-unit {
	background: #FFFFFF;
	background-image:linear-gradient(top, #FFFFFF 40%, #EEEEEE 100%);
	background-image:-o-linear-gradient(top, #FFFFFF 40%, #EEEEEE 100%);
	background-image:-moz-linear-gradient(top, #FFFFFF 40%, #EEEEEE 100%);
	background-image:-webkit-linear-gradient(top, #FFFFFF 40%, #EEEEEE 100%);
	background-image:-ms-linear-gradient(top, #FFFFFF 40%, #EEEEEE 100%);
	background-image: -webkit-gradient(
		linear,
		left top,
		color-stop(0.4	, #FFFFFF),
		color-stop(1, #F7F7F7)
	);
    border: 1px solid #DDDDDD;
	border-bottom: 1px solid #CCC;
    border-radius: 3px 3px 3px 3px;
	text-align: center;
}


.hero-unit p {
	font-size: 13px;
	font-weight: normal;
}

.modal {
	margin: -210px 0 0 -280px;
}

.nav-tabs .active  a, .nav-tabs .active a:hover {
	background: none;
}

.dark-panel {
    color: #EEEEEE;
    background-color: #000000;
    width: 100%;
    padding: 1em;
    text-align: center;
    margin: 1em 0 1em 0;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.red {
    color: #EE3D40;
}

.blue {
    color: #AABAC5;
}

.center {
    text-align: center;
}

.btn-jumbo {
    font-size: 20px;
    font-weight: normal;
    padding: 14px 24px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.btn-fixed {
    width: 150px;
}

.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

pre.fat {
    height: 234px;
}